{
  "name": "${node_pkg}",
  "description": "🧗‍♀️ Help you create & publish NPM CLIs with Rust.....",
  "version": "${node_version}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "keywords": [
    "rust",
    "cli",
    "template",
    "npm",
    "binaries",
    "tui",
    "publish",
    "ratatui"
  ]
}